
<h1>Result</h1>

<% if @included %>
  <% if @english_word %>
    <p><strong>Congratulations!</strong> <%= @attempt %> is a valid English word!</p>
  <% else %>
    <p>Sorry but <strong><%= @attempt %></strong> does not seem to be a valid English word...</p>
  <% end %>
<% else %>
  <p>Sorry but <strong><%= @attempt %></strong> can't be built out of <%= @grid.join(", ") %></p>
<% end %>

<%= link_to "Play again", new_path %>
